
/* include font Inter-Light.ttf */
@font-face {
  font-family: "Inter";
  src: url("/Inter-Light.ttf");
}

* {
  font-family: Inter;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  /* make a grid layout where the text area takes up most of the screen and two buttons at bottom */
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "text"
    "complete"
    "embedding";
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem;
  margin: 1rem;
  height: calc(100vh - 2rem);
}
textarea {
  width: 100%;