
/* include font Inter-Light.ttf */
@font-face {
  font-family: "Inter";
  src: url("/Inter-Light.ttf");
}

* {
  font-family: Inter;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body,
html {
  margin: 0;
  padding: 0;
}
